h1 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    color:rgb(215, 160, 58);
}

body {
    background-color:#e3e3e3;
    border : solid;
    border-width: 2px;
}

.banniere {
    border : solid;
    border-width: 1px;
}

.menu {
    border : solid;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-width: 2px;
}

.menu li {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    padding-left : 70px;
}

.menu ul li a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

a:link { /* lien pas visité */
    color:darkgoldenrod;
}
a:visited { /* lien visité */
    color:goldenrod;
}

a:hover { /* souris dessus */
    color:darkkhaki;
}

a:active { /* clique dessus */
    color:burlywood;
}


.ligne {
    border: solid;
    display: flex;
    justify-content: space-between;
}

.InfosUtilisateurs {
    border: solid;
    flex:1;
    text-align: center;
}

.contenu {
    border: solid;
    text-align: center;
    background: #fff;
    flex: 10;
}

.avatar {
    border:solid;
    text-align: center;
    background: #fff;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.auteur{
    border: solid;
    text-align: center;
    flex:1;
}


.img_avatar {
    padding: 20px 20px 0px;
    flex:2;
}

